/*********/
/* FONTS */
/*********/
@font-face {
  font-family: 'mario';
  src: url('../font/supermario256-webfont.woff2') format('woff2'),
    url('../font/supermario256-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Gebruikte fonts https://www.dafont.com/super-mario-256.font*/


/*************/
/* CSS RESET */
/*************/
/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  display: grid;
  gap: 1em;
  margin: 0;
  background: var(--achterground-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  /* https: //stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
}

body.regenboog-achtergrond {
  background: linear-gradient(45deg, crimson, darkorange, gold, yellowgreen, dodgerblue, rebeccapurple, crimson, darkorange, gold, yellowgreen, dodgerblue, rebeccapurple, crimson) left bottom / 200% 200%;
  animation: regenboog 1s infinite linear;
  opacity: .5;
}

@keyframes regenboog {
  0% {
    background-position: left bottom;
  }

  100% {
    background-position: right top;
  }
}


button:not([disabled]) {
  cursor: pointer;
  border: none;
  background: transparent;
}

*:focus-visible,
button:focus-visible {
  outline: none;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* Hoofdtitel kleuren */
  --mario-blauw: #009BD9;
  --mario-geel: #FCCF00;
  --mario-rood: #E62310;
  --mario-groen: #44AF35;
  --mario-zwart: #000000;
  --nintendo-switch-kleur: radial-gradient(circle, rgb(255 255 255 / 0.2) 0%, rgba(255 255 255 / .8) 73%);
  --wolken-kleur: rgba(255 255 255);
  --witte-kleur: white;

  /* Hoofdtitelfonts */
  --Kopjes: "mario";
  --paragraaf-lettertype: "Open Sans", sans-serif;

  /* Background kleuren */
  --grond-kleur: #eeaf36;
  --achterground-gradient: linear-gradient(0deg, rgba(145, 222, 255, 1) 19%, rgba(0, 155, 217, 1) 73%);
  --blokjes-gradient-achtergrond: radial-gradient(circle, rgb(255 255 255 / 0.2) 0%, rgba(255 255 255 / 1) 73%);
  --speech-bubbel-kleur: white;
  --joysticks-kleuren: radial-gradient(circle, rgba(25 25 25 / 0.5) 5%, rgba(0 0 0 / 1) 100%);

  /* States */
  --joysticks-hover-state-kleuren: radial-gradient(circle at right, rgba(25 25 25 / 0.5) 5%, rgba(0 0 0 / 1) 100%);
  --focus-state: drop-shadow(.2em .2em .5em #E62310);


  /* Box-shadows */
  --back-shadow-voor-controllers: .2em .2em .5em rgba(0 0 0 / .5);
}


@media (prefers-color-scheme: dark) {
  :root {
    --mario-rood: #a52115;
    --achterground-gradient: linear-gradient(357deg, rgba(51, 122, 194, 1) 12%, rgba(27, 72, 181, 1) 50%, rgba(23, 37, 73, 1) 91%);
  }
}

/* https: //designkojo.com/using-prefers-color-scheme-and-css-custom-properties */



/********************/
/* ALGEMENE STYLING */
/********************/
li {
  list-style: none;
}

ol {
  padding: none;
}

p {
  font-family: var(--paragraaf-lettertype);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "mario";
}

h2 {
  font-family: var(--Kopjes);
  font-size: .9em;
  color: var(--mario-rood);
}




/**********/
/* HEADER */
/**********/
header {
  background-color: var(--mario-rood);
  display: flex;
  place-content: center;
  align-items: center;
  padding: .5em;
  gap: .5em;
}

header h1 {
  color: white;
  font-family: var(--Kopjes);
  font-size: 2.5em;
  text-shadow: .05em .1em .2em rgba(0, 0, 0, 0.752);
}

/* Mario Logo */
header a {
  width: 2em;
  height: 2em;
  background-color: white;
  color: var(--mario-rood);
  display: flex;
  place-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: var(--Kopjes);
}

/* De Kleurrijke Mario Naam*/
header p {
  display: flex;
  font-family: var(--Kopjes);
  font-size: 3em;
  transform: rotate(5deg);
  -webkit-text-stroke: .05em black;
  text-shadow: .05em .1em black
}

header p span:nth-of-type(1) {
  color: var(--mario-rood)
}

header p span:nth-of-type(2n),
header p span:last-of-type {
  color: var(--mario-groen)
}

header p span:nth-of-type(3n) {
  color: var(--mario-geel)
}

header p span:nth-of-type(4) {
  color: var(--mario-blauw);
}

/***********/
/*    MAIN */
/***********/
main {
  position: relative;
  margin: 0 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  /* grid-template-rows: 33em; */
  gap: 2em;
  place-content: center;
}





/*******************/
/* NINTENDO SWITCH */
/*******************/
/* Detail over de mario */
article:first-of-type {
  position: relative;
  display: grid;
  gap: 1em;
  padding: 1em;
  border-radius: 2em;
  background: var(--nintendo-switch-kleur);
  opacity: 0;
  transition: 1s;
}

article:first-of-type.haal-weg {
  opacity: 1;
}

article:first-of-type h1 {
  color: white;
  text-shadow: .01em .05em .2em rgba(0 0 0 /0.752);
  text-align: center;
  font-size: 2.5em;
  padding: .3em;
}

/* Nintendo scherm */
article:first-of-type figure {
  display: grid;
  place-content: center;
  background-color: #303030;
  padding: 1em;
  border-radius: .5em;
}

/* Afbeelding van Mario zelf */
article:first-of-type figure img {
  object-fit: contain;
  width: 300px;
  height: 300px;
  justify-self: center;
  animation: scale 3s infinite linear;
  animation-play-state: paused;
  /* animation-fill-mode: backwards; */
  transform: scale(1.3);

}

/* Hoe maak je afbeelding dezelfde size: https://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css */

/* Mario wordt een wasbeer */
.tanooki-afbeelding {
  content: url(../images/tanooki-suit.png);
  /* https: //www.clipartmax.com/middle/m2i8d3d3G6Z5m2G6_mario-tanuki-super-mario-3d-land-mario/ */
}

/* Mario wordt pyromaan */
.pyromaan-afbeelding {
  content: url(../images/fire-power.png);
  /* https: //www.clipartmax.com/middle/m2i8N4N4A0N4H7d3_fire-mario-with-fireball-by-banjo2015-super-mario-maker-party/ */
}

.ijspak-mario {
  content: url(../images/mario-ijs.png);
}


/* https: //www.clipartmax.com/download/m2i8i8G6d3i8G6b1_un-mario-wiki-mario-party-ds-mario/ */
/***************/
/* CONTROLLERS */
/***************/
article:first-of-type>section {
  display: flex;
  position: relative;
  place-content: center;
  gap: 6em;
}

/* Container van de 4 knopjes */
article:first-of-type>section section {
  display: grid;
  grid-template-columns: 1em 1em;
  gap: 1em;
  position: relative;
}

/* Joysticks */
article:first-of-type>section>button {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--joysticks-kleuren);
  box-shadow: var(--back-shadow-voor-controllers);
  transition: .5s;
}

article:first-of-type>section>button:hover,
article:first-of-type>section>button:focus {
  filter: drop-shadow(var(--focus-state));
  background: var(--joysticks-hover-state-kleuren);
  box-shadow: none;
}

/* De kleine buttons */
article:first-of-type>section section button {
  width: 2em;
  width: 2em;
  padding: .5em;
  border-radius: 50%;
  box-shadow: var(--back-shadow-voor-controllers);
  transition: 1s;
}

/* X */
article:first-of-type>section section button:nth-of-type(1) {
  transform: translateX(1.5em);
}

/* A */
article:first-of-type>section section button:nth-of-type(2) {
  transform: translateX(1.5em) translateY(1.5em);
}

/* Y */
article:first-of-type>section section button:nth-of-type(3) {
  transform: translateX(-1.5em) translateY(-1.5em);
}

/* B */
article:first-of-type>section section button:nth-of-type(4) {
  transform: translateX(-1.5em);
}

/* De kleine buttons */
article:first-of-type>section section button:hover,
article:first-of-type>section section button:focus-visible {
  box-shadow: inset -.3em .3em .3em rgba(0 0 0 / .5);
}

.podium {
  width: 10em;
  height: 4em;
  border-radius: 50%;
  border-bottom: 1em solid black;
  background-color: grey;
  justify-self: center;
}





/*******************/
/* MARIO SELECTION */
/*******************/
article:nth-of-type(2) {
  /* background-image: url(../images/mario_clouds_desktop_by_sadistmoi_d23mm2j-fullview.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

article:nth-of-type(2)::after {
  content: "";
  opacity: 0;
  width: 0;
  height: 0;
}

article:nth-of-type(2) img {
  width: 7em;
  height: auto;
  object-fit: contain;
}


article:nth-of-type(2) ol {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 10em);
  gap: .5em;
}

article:nth-of-type(2) li {
  position: relative;
  border-radius: .5em;
  width: 10em;
  height: 10em;
  background: var(--blokjes-gradient-achtergrond);
  display: grid;
  place-content: center;
  /* transition: 1s; */
}


article:nth-of-type(2) li>button {
  background-color: none;
  display: grid;
  place-content: center;
  transition: 1s;
}

article:nth-of-type(2) li>button:hover,
article:nth-of-type(2) li>button:focus {
  animation-name: blinkende-afbeelding;
  animation-iteration-count: 3;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Hover state wanneer op je de mario hovert of focus */
@keyframes blinkende-afbeelding {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }
}





/*****************/
/* SPEECH BUBBLE */
/*****************/
/* Speech bubble */
article:nth-of-type(2) li section {
  position: absolute;
  transform: translateY(-7.5em);
  border-radius: 2em;
  background: var(--speech-bubbel-kleur);
  padding: 1em;
  box-shadow: var(--back-shadow-voor-controllers);
  display: none;
}

article:nth-of-type(2) li section.openBubble {
  display: block;
}

article:nth-of-type(2) li section::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  right: 1.5em;
  bottom: -.5em;
}



/* https://codepen.io/RajRajeshDn/pen/oZdRJw */

article:nth-of-type(2) li section>button {
  order: 1;
  width: 2em;
  height: 2em;
  border-radius: .5em;
  align-self: end;
}

article:nth-of-type(2) li section>h2 {
  text-align: center;
}

article:nth-of-type(2) li section>p {
  line-height: 1.1;
  font-size: .9em;
  font-weight: 600;
  text-align: left;
  padding: .5em;
}

/* WOLKEN IN DE ACHTERGROND */
article:nth-of-type(3) {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 10em;
  transform: translateX(-30%) translateY(100%);
  display: flex;
  flex-direction: column;
  gap: .3em;

}

/* Lichaam van de wolken */
article:nth-of-type(3) section {
  position: absolute;
  display: flex;
  place-content: center;
  align-items: center;
  gap: .5em;
  border-radius: 20em;
  height: 3em;
  width: 10em;
  background-color: var(--wolken-kleur);

}

article:nth-of-type(3) section:nth-of-type(2n) {
  height: 3em;
  width: 5em;
}

/* Ogen van de wolken */
article:nth-of-type(3) section a {
  border-radius: 1em;
  background-color: #000000;
  width: .2em;
  height: .7em;
}

article:nth-of-type(3) section:nth-of-type(1) {
  left: 25em;
  animation: wolken-met-position 5s ease infinite;
}

article:nth-of-type(3) section:nth-of-type(2) {
  /* transform: translateY(13em) translateX(30em); */
  top: 4em;
  left: 21em;
  animation: wolken-met-position 4s ease infinite;
}

article:nth-of-type(3) section:nth-of-type(3) {
  right: -80em;
  top: 10em;
  animation: wolken-met-position 3s ease infinite;

}

article:nth-of-type(3) section:nth-of-type(4) {
  right: -70em;
  top: 1em;
  animation: wolken-met-position 6s ease infinite;
}

@keyframes wolken-met-position {
  50% {
    transform: translateY(25%);
  }
}





/*****************/
/* Walking mario */
/*****************/
body>.wrapper img {
  width: 10%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: x-axis;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.wrapper {
  animation-name: y-axis;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform: translateY(-1em);
}


@keyframes x-axis {
  0% {
    left: -30%;
  }

  99% {
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes y-axis {
  50% {
    transform: translateY(-30em);
  }
}

/* Met een button wordt de animatie gepauseert */
body>.wrapper img.pauseer-animatie,
.wrapper.pauseer-animatie {
  animation-play-state: running;
}

/* https://stackoverflow.com/questions/47754999/css-animation-absolute-position-go-off-screen-to-right-and-come-back-from-left */






/*****************/
/* POWER UP MENU */
/*****************/
footer {
  position: fixed;
  right: 19%;
  bottom: .5em;
}

footer ul {
  display: flex;
  gap: 1em
}

footer li {
  width: 5em;
  height: 5em;
  transform: translateY(-1em);
  background-color: white;
  border-radius: 50%;
  transition: 1s;
}

footer a {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

footer li:hover {
  transform: translateY(-3em) scale(1.2);
}

/* Red Mushroom */
footer li:first-of-type {
  box-shadow: .3em .3em var(--mario-rood);
}


footer li:first-of-type img {
  animation-name: springende-mushroom;
  animation-duration: 1s;
  animation-iteration-count: 6;
}

footer li:first-of-type img:hover {
  animation-name: mushroom-wordt-onzichtbaar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


@keyframes springende-mushroom {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(-5em);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}

@keyframes mushroom-wordt-onzichtbaar {
  0% {
    transform: scale(1);
    opacity: 1;
  }


  100% {
    opacity: 0;
    transform: scale(1.5);
    filter: blur(.5em)
  }
}

/* Vuur bloem */
footer li:nth-of-type(2) {
  box-shadow: .3em .3em var(--mario-geel);
}

footer li:nth-of-type(2) img:hover {
  animation-name: stuiterende-bloem;

  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes stuiterende-bloem {

  0%,
  50%,
  100% {
    transform: scale(.9, 1.1);
  }

  25%,
  75% {
    transform: scale(1.3);
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
}

/* Ijs Bloem Power up */
footer li:nth-of-type(3) {
  box-shadow: .3em .3em var(--mario-blauw);
}

footer li:nth-of-type(3) img:hover {
  animation-name: stuiterende-bloem;
  animation-iteration-count: infinite;
  animation-duration: 2s;

}

/* Tanooki Blad */
footer li:nth-of-type(4) {
  box-shadow: .3em .3em var(--mario-groen);
}

footer li:nth-of-type(4) img:hover {
  animation-name: zwaaiende-blad;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes zwaaiende-blad {

  0%,
  50%,
  100% {
    transform: rotate(-5deg);
  }

  25%,
  75% {
    transform: rotate(5deg);
  }
}

/* Sterretje */
footer li:nth-of-type(5) {
  box-shadow: .3em .3em var(--mario-geel);
}

footer li:nth-of-type(5) img:hover {
  animation-name: draaiende-sterretje;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes draaiende-sterretje {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*****************/
/* MEDIA QUERIES */
/*****************/
/* Kleiner schermen */
@media (max-width: 50em) {
  body {
    overflow-y: scroll;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}

/* Grotere schermen */
@media (min-width:100em) {
  body {
    gap: 5em;
  }

  main {
    margin: 0 auto;
    width: 70%;
  }

  footer {
    top: 22%;
    right: 5em;
  }

  footer ul {

    flex-direction: column;
  }

}